<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-plan_FL5P0fZzXisXEh"
  role="link"
>
  Checkout
</button>

<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_test_mbgShVTJxXntp5msvLbCj7Ck00KmBLjqVr');

  var checkoutButton = document.getElementById('checkout-button-plan_FL5P0fZzXisXEh');
  checkoutButton.addEventListener('click', function () {

    stripe.redirectToCheckout({
      items: [{plan: 'plan_FL5P0fZzXisXEh', quantity: 1}],

      successUrl: 'https://www.piedmontpost.org/success',
      cancelUrl: 'https://www.piedmontpost.org/canceled',
    })
    .then(function (result) {
      if (result.error) {

        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>
